{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Keania+One&family=Madimi+One&family=Protest+Guerrilla&family=Protest+Strike&display=swap"
    rel="stylesheet">
  <title>Proyecto Clase</title>
</head>
<link rel="stylesheet" href="{% static 'main.css' %}" />


<body>
  <section class="cuerpo">
    <h1>hola Mundo</h1>
  </section>
</body>

</html>